<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zyboo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAE7726A1F1397C800B32B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE772801F1397CA00B32B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE7728B1F1397CA00B32B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
